.containerall{
  max-width: 1200px;
  max-height: 500px;
  width: 100%;
  height: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}
.headerone{
  margin: 10px auto;
}
div div.table{
  max-width: 100%;
  margin: 0 auto;
  height: 90%;
  border: none;

}
div div.table p{
  margin: 5px;
}
ul {
  list-style: none;
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}
