footer{
  width: 100%;
  height: 30px;
  background-color: #715c95;
  font-size: 22px;
  font-weight: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color : #d8d8d8;
  bottom: 0;
  position: fixed;
}