.containerFormSearch{
  max-width: 700px;
  width: 100%;
  max-height: 500px;
  height: 100%;
  margin: 5vh auto;
  text-align: center;
}
h1{
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
}
.link-search{
  position: absolute;
  margin-left: 50px;
  bottom: 50px;
}

.containerFormSearch .addFormSearch{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
  
}
.containerFormSearch .addFormSearch label{
  font-size: 5vh;
}
.containerFormSearch .addFormSearch input{
  width: 70%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  font-weight: bold;
}
.containerFormSearch .addFormSearch button.button-search{
  padding: 15px;
  border-radius: 10px;
  background: #715c95;
  border: none;
  color: #fff;
  border-bottom: 2px solid #5a4a77;
  position: absolute;
  bottom: 50px;

}
.containerFormSearch .addFormSearch button.button-search:hover{
  cursor: pointer;
  background-color: #6f559c;
  
}
.containerFormSearch .addFormSearch button.button-search:active{
  margin-top: 12px;
  border-bottom: none;
}
div.table{
  margin-top: 50px;
  width: 100%;
  /* max-height: 50px; */
  height: 100px;
  border: 1px solid #715c95;
}