.containerForm{
  max-width: 700px;
  width: 100%;
  max-height: 500px;
  height: 100%;
  margin: 5vh auto;
  text-align: center;
  
}
h1{
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
}
.link-add{
  position: absolute;
  bottom: 50px;
  margin-left: 50px;
}


.containerForm .addForm{
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: dashed #fff8;
  padding: 10px;
}
.containerForm .addForm label{
  font-size: 5vh;
}
.containerForm .addForm input{
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.containerForm .addForm button{
  margin-top: 10px;
  padding: 15px;
  border-radius: 10px;
  background: #715c95;
  border: none;
  color: #fff;
  border-bottom: 2px solid #5a4a77;
  grid-column-start:1;
  grid-column-start:2;
}
.containerForm .addForm button:hover{
  cursor: pointer;
  background-color: #6f559c;
  
}
.containerForm .addForm button:active{
  margin-top: 12px;
  border-bottom: none;
}

div form div.nome{
  grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
}
div form div.nome input{
  width: 90%;
}
div form div.email{
  grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
}
div form div.email input{
  width: 90%;
}
div form div.end{
  grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
}

div.end{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
div.end label{
  grid-column-start: 3;
  grid-column-end: 5;
  width: 100%;
}

div form div.end .bairro{
  grid-column-start: 1;
  grid-column-end: 3;
  width: 90%;
  margin-left: 30px ;
  
}
div form div.end .rua{
  grid-column-start: 3;
  grid-column-end: 6;
  width: 99%;
}
div form div.end .numb{
  width: 60%;
}
div form div.frase{
  grid-column-start: 1;
  grid-column-end: 4;
}
div form div.frase input{
  width: 90%;
}
